In [1]:
# the age feature may disappear in some samples

In [2]:
import pandas as pd

In [3]:
titanic = pd.read_csv('./titanic.csv')

In [4]:
titanic.head()

,row.names,pclass,survived,name,age,embarked,home.dest,room,ticket,boat,sex
0,1,1st,1,"Allen, Miss Elisabeth Walton",29.0000,Southampton,"St Louis, MO",B-5,24160 L221,2,female
1,2,1st,0,"Allison, Miss Helen Loraine",2.0000,Southampton,"Montreal, PQ / Chesterville, ON",C26,NaN,NaN,female
2,3,1st,0,"Allison, Mr Hudson Joshua Creighton",30.0000,Southampton,"Montreal, PQ / Chesterville, ON",C26,NaN,(135),male
3,4,1st,0,"Allison, Mrs Hudson J.C. (Bessie Waldo Daniels)",25.0000,Southampton,"Montreal, PQ / Chesterville, ON",C26,NaN,NaN,female
4,5,1st,1,"Allison, Master Hudson Trevor",0.9167,Southampton,"Montreal, PQ / Chesterville, ON",C22,NaN,11,male

In [5]:
# filter feature value and target value
x = titanic[["pclass", "age", "sex"]]
y = titanic["survived"]

In [6]:
x.head()

  pclass      age     sex
0    1st  29.0000  female
1    1st   2.0000  female
2    1st  30.0000    male
3    1st  25.0000  female
4    1st   0.9167    male

In [7]:
y.head()

0    1
1    0
2    0
3    0
4    1
Name: survived, dtype: int64

In [8]:
# 2、clear data
# 1）deal with the lost data, age in some samples
x["age"].fillna(x["age"].mean(), inplace=True)

/Users/zhangwenqing/opt/anaconda3/lib/python3.9/site-packages/pandas/core/generic.py:6392: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [9]:
# 2) convert to dictionary
x = x.to_dict(orient="records")

In [10]:
from sklearn.model_selection import train_test_split
# 3、splite the dataset to train and test
x_train, x_test, y_train, y_test = train_test_split(x, y, random_state=22)

In [11]:
# 4、feature extraction of dictionary 
from sklearn.feature_extraction import DictVectorizer
from sklearn.tree import DecisionTreeClassifier, export_graphviz

In [12]:
transfer = DictVectorizer()
x_train = transfer.fit_transform(x_train)
x_test = transfer.transform(x_test)

In [13]:
# 3）dicision tree estimator
estimator = DecisionTreeClassifier(criterion="entropy", max_depth=8)
estimator.fit(x_train, y_train)

# 4）model assessment
# method1：compare the real target number with pridiction number
y_predict = estimator.predict(x_test)
print("y_predict:\n", y_predict)
print("the pridiction target vs real test target is:\n", y_test == y_predict)

# method2：get the accuracy
score = estimator.score(x_test, y_test)
print("The accuracy is ：\n", score)

# visialize the decision tree
export_graphviz(estimator, out_file="titanic_tree.dot", feature_names=transfer.get_feature_names())

y_predict:
 [0 0 0 0 1 1 1 0 0 1 0 1 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 1 1 0 1 0 1 0 0 0
 0 0 0 0 0 0 0 0 0 1 1 0 1 0 1 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 1 0 0 1 0 0 0
 0 1 0 0 0 1 0 1 0 0 0 0 0 0 0 0 0 0 0 1 0 1 0 1 0 1 0 0 0 0 0 0 0 0 0 0 1
 0 1 0 0 0 0 0 0 0 0 0 1 0 0 1 1 0 1 0 0 0 0 0 0 0 0 0 0 0 1 1 0 0 0 0 1 1
 1 0 0 0 0 0 0 0 1 0 0 0 0 0 1 1 0 1 0 0 0 0 1 0 0 0 0 0 1 1 1 1 0 0 0 0 0
 0 0 0 1 1 1 0 0 0 0 1 1 1 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 1 1 0 0 0 0 0 1 0
 0 0 1 0 0 0 0 0 0 1 0 0 0 0 1 0 1 0 0 0 1 0 0 1 0 0 0 0 1 0 1 0 0 0 0 1 0
 0 1 1 1 0 0 1 1 1 0 1 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 1 1
 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 1 1 0 1 0 0 0 0 1]
the pridiction target vs real test target is:
 831      True
261      True
1210     True
1155     True
255      True
        ...
1146     True
1125    False
386      True
1025    False
337      True
Name: survived, Length: 329, dtype: bool
The accuracy is ：
 0.7811550151975684

In [14]:
# put the data in iris_tree to this website to see the structure of the tree, http://webgraphviz.com/

In [15]:
### Use random forest to predict wheather the survivals could be lived on Titanic

In [16]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV

In [17]:

estimator = RandomForestClassifier()

# add grid search and cross validation
# prepare the parameters
param_dict = {"n_estimators": [120,200,300,500,800,1200], "max_depth": [5,8,15,25,30]}
estimator = GridSearchCV(estimator, param_grid=param_dict, cv=3)
estimator.fit(x_train, y_train)

# 5）model assessment
# method1：compare the real target number with pridiction number
y_predict = estimator.predict(x_test)
print("y_predict:\n", y_predict)
print("the pridiction target vs real test target is :\n", y_test == y_predict)

# method2：get the accuracy
score = estimator.score(x_test, y_test)
print("The accuracy is ：\n", score)

# best_params_
print("The best parameter is ：\n", estimator.best_params_)
# best_score_
print("The best score is ：\n", estimator.best_score_)
# best_estimator_
print("The best estimator is :\n", estimator.best_estimator_)
# cv_results_
print("The cross validation is :\n", estimator.cv_results_)

y_predict:
 [0 0 0 0 1 1 1 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 1 1 0 1 0 1 0 0 0
 0 0 0 0 0 0 0 0 0 1 1 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 1 0 0 0
 0 1 0 0 0 1 0 1 0 0 0 0 0 0 0 0 0 0 0 1 0 1 0 1 0 1 0 0 0 0 0 0 0 0 0 0 1
 0 1 0 0 0 0 0 0 0 0 0 1 0 0 1 1 0 1 0 0 0 0 0 0 0 0 0 0 0 1 1 0 0 0 0 1 1
 1 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 0 1 0 0 0 0 1 0 0 0 0 0 1 1 1 1 0 0 0 0 0
 0 0 0 1 1 1 0 0 0 0 1 1 1 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 1 1 0 0 0 0 0 1 0
 0 0 1 0 0 0 0 0 0 1 0 0 0 0 1 0 1 0 0 0 1 0 0 1 0 0 0 0 1 0 1 0 0 0 0 1 0
 0 1 1 1 0 0 1 1 1 0 1 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 1 1
 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 1 1 0 1 0 0 0 0 1]
the pridiction target vs real test target is :
 831      True
261      True
1210     True
1155     True
255      True
        ...
1146     True
1125    False
386      True
1025    False
337      True
Name: survived, Length: 329, dtype: bool
The accuracy is ：
 0.7872340425531915
The best parameter is ：
 {'max_depth': 5, 'n_estimators': 200}
The best score is ：
 0.8363821138211381
The best estimator is :
 RandomForestClassifier(max_depth=5, n_estimators=200)
The cross validation is :
 {'mean_fit_time': array([0.15141718, 0.23255078, 0.3386693 , 0.53919299, 0.83270335,
       1.23890011, 0.13832537, 0.23013457, 0.34168228, 0.5655334 ,
       0.91570393, 1.47415225, 0.14349206, 0.23452862, 0.35061661,
       0.58536402, 0.97324999, 1.40042901, 0.14202952, 0.24399328,
       0.36901458, 0.66800737, 0.92741625, 1.47138405, 0.15878344,
       0.23443762, 0.38908378, 0.58890033, 0.9400808 , 1.48648294]), 'std_fit_time': array([0.02845269, 0.00283838, 0.01443708, 0.02296047, 0.00300167,
       0.00804662, 0.0016991 , 0.00715168, 0.00297795, 0.00638123,
       0.01335415, 0.04086642, 0.00357151, 0.00333066, 0.00556229,
       0.00549612, 0.06812197, 0.02222993, 0.00161468, 0.00931818,
       0.01807242, 0.01315489, 0.01630327, 0.09133066, 0.01944951,
       0.00432954, 0.0099157 , 0.01982217, 0.0045187 , 0.0509341 ]), 'mean_score_time': array([0.01139267, 0.02020224, 0.02791905, 0.04480076, 0.06756274,
       0.09934298, 0.01124756, 0.01798971, 0.02717463, 0.04402669,
       0.07018844, 0.1143163 , 0.01135961, 0.01856263, 0.02739072,
       0.04550115, 0.07061712, 0.10704764, 0.01130279, 0.01939909,
       0.0289917 , 0.04675134, 0.07084759, 0.10947537, 0.01158794,
       0.0187184 , 0.0304056 , 0.04546301, 0.07498884, 0.10935704]), 'std_score_time': array([9.88056689e-04, 9.94822281e-04, 1.88227983e-03, 1.88594547e-03,
       1.44933019e-03, 6.89896100e-04, 2.68664088e-04, 2.86072248e-04,
       8.89643912e-05, 4.40245026e-04, 5.95437353e-04, 7.17070953e-03,
       5.19290273e-04, 3.42070668e-04, 3.57937837e-04, 1.59398242e-03,
       7.38291078e-04, 1.42570467e-03, 1.51847535e-04, 6.88152633e-04,
       2.00257532e-03, 1.44923501e-03, 5.64238420e-04, 2.66369172e-03,
       4.04733795e-04, 4.38398299e-04, 1.97683801e-03, 5.04956154e-04,
       4.63012517e-03, 2.42846202e-03]), 'param_max_depth': masked_array(data=[5, 5, 5, 5, 5, 5, 8, 8, 8, 8, 8, 8, 15, 15, 15, 15, 15,
                   15, 25, 25, 25, 25, 25, 25, 30, 30, 30, 30, 30, 30],
             mask=[False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False],
       fill_value='?',
            dtype=object), 'param_n_estimators': masked_array(data=[120, 200, 300, 500, 800, 1200, 120, 200, 300, 500, 800,
                   1200, 120, 200, 300, 500, 800, 1200, 120, 200, 300,
                   500, 800, 1200, 120, 200, 300, 500, 800, 1200],
             mask=[False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False],
       fill_value='?',
            dtype=object), 'params': [{'max_depth': 5, 'n_estimators': 120}, {'max_depth': 5, 'n_estimators': 200}, {'max_depth': 5, 'n_estimators': 300}, {'max_depth': 5, 'n_estimators': 500}, {'max_depth': 5, 'n_estimators': 800}, {'max_depth': 5, 'n_estimators': 1200}, {'max_depth': 8, 'n_estimators': 120}, {'max_depth': 8, 'n_estimators': 200}, {'max_depth': 8, 'n_estimators': 300}, {'max_depth': 8, 'n_estimators': 500}, {'max_depth': 8, 'n_estimators': 800}, {'max_depth': 8, 'n_estimators': 1200}, {'max_depth': 15, 'n_estimators': 120}, {'max_depth': 15, 'n_estimators': 200}, {'max_depth': 15, 'n_estimators': 300}, {'max_depth': 15, 'n_estimators': 500}, {'max_depth': 15, 'n_estimators': 800}, {'max_depth': 15, 'n_estimators': 1200}, {'max_depth': 25, 'n_estimators': 120}, {'max_depth': 25, 'n_estimators': 200}, {'max_depth': 25, 'n_estimators': 300}, {'max_depth': 25, 'n_estimators': 500}, {'max_depth': 25, 'n_estimators': 800}, {'max_depth': 25, 'n_estimators': 1200}, {'max_depth': 30, 'n_estimators': 120}, {'max_depth': 30, 'n_estimators': 200}, {'max_depth': 30, 'n_estimators': 300}, {'max_depth': 30, 'n_estimators': 500}, {'max_depth': 30, 'n_estimators': 800}, {'max_depth': 30, 'n_estimators': 1200}], 'split0_test_score': array([0.82926829, 0.83231707, 0.82621951, 0.82621951, 0.83231707,
       0.82621951, 0.81402439, 0.81097561, 0.80487805, 0.80487805,
       0.81097561, 0.80792683, 0.79878049, 0.79878049, 0.80182927,
       0.79268293, 0.79573171, 0.79268293, 0.79268293, 0.79268293,
       0.79573171, 0.79268293, 0.79268293, 0.79573171, 0.80182927,
       0.79268293, 0.79268293, 0.79268293, 0.79573171, 0.79573171]), 'split1_test_score': array([0.85365854, 0.85060976, 0.85060976, 0.85060976, 0.85060976,
       0.85060976, 0.84756098, 0.85060976, 0.8445122 , 0.85365854,
       0.85365854, 0.85365854, 0.85365854, 0.8445122 , 0.8445122 ,
       0.85060976, 0.84756098, 0.85060976, 0.85060976, 0.85670732,
       0.85060976, 0.85670732, 0.84756098, 0.85365854, 0.85670732,
       0.85060976, 0.83841463, 0.85365854, 0.85365854, 0.84756098]), 'split2_test_score': array([0.82317073, 0.82621951, 0.82621951, 0.82317073, 0.82621951,
       0.82317073, 0.80487805, 0.80487805, 0.80182927, 0.80182927,
       0.80182927, 0.80182927, 0.79573171, 0.80487805, 0.80487805,
       0.80182927, 0.80487805, 0.80182927, 0.80182927, 0.80182927,
       0.80487805, 0.80182927, 0.80487805, 0.80487805, 0.80487805,
       0.79573171, 0.80487805, 0.80182927, 0.80487805, 0.80182927]), 'mean_test_score': array([0.83536585, 0.83638211, 0.83434959, 0.83333333, 0.83638211,
       0.83333333, 0.82215447, 0.82215447, 0.81707317, 0.82012195,
       0.82215447, 0.82113821, 0.81605691, 0.81605691, 0.81707317,
       0.81504065, 0.81605691, 0.81504065, 0.81504065, 0.81707317,
       0.81707317, 0.81707317, 0.81504065, 0.81808943, 0.82113821,
       0.81300813, 0.81199187, 0.81605691, 0.81808943, 0.81504065]), 'std_test_score': array([0.01317224, 0.01036386, 0.01149767, 0.01227952, 0.01036386,
       0.01227952, 0.01834905, 0.02027433, 0.0194422 , 0.02374659,
       0.02258751, 0.02312969, 0.02661748, 0.02027433, 0.0194422 ,
       0.02542682, 0.02258751, 0.02542682, 0.02542682, 0.02827323,
       0.02400612, 0.02827323, 0.02352812, 0.02542682, 0.02518193,
       0.02661748, 0.01933567, 0.02684928, 0.02542682, 0.02312969]), 'rank_test_score': array([ 3,  1,  4,  5,  1,  5,  7,  7, 15, 12,  9, 11, 20, 20, 15, 24, 20,
       24, 24, 15, 15, 15, 24, 13, 10, 29, 30, 20, 13, 24], dtype=int32)}